body {
    font-family: Arial, sans-serif;
  }

button {
    border-radius: 15px;
    padding: 10px 30px;
    margin: 10px 0px;
  }

  button:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  }